<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <p><%= product.name %>, $<%= product.formatted_price %><p>
      <p><%= product.description[0..30] %>...</p>
    </li>
  <% end %>
</ul>
